body {
    animation-name: pedro;
    animation-duration: 1s;
}

body > .card {
    animation-name: rodapedro; 
    animation-duration: 1s;
    animation-delay: 300ms;
}

@keyframes pedro{
    0% {
        opacity: 0.0;
        filter: blur(100px);
        transform: translateY(20px);
    }
}

@keyframes rodapedro {
    0% {
        transform: scale(300);
    }
}